blockquote:after {
  content: close-quote;
  vertical-align: bottom;
}

blockquote:before {
  content: open-quote;
  vertical-align: top;
}

.overview-dropdown-content {
  animation: contentHide 150ms ease-in forwards;
}

.overview-dropdown-content[data-expanded] {
  animation: contentShow 150ms ease-out;
}

.overview-dropdown-submenu[data-expanded] {
  background-color: rgba(114, 135, 253, 0.5);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
